.text-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    color: #ee4b5e;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: #1fa9d6;
}