.custom-pagination li {
    background: var(--background);
    width: 40px;
    height: 40px;
    font-size: 1em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.custom-pagination li a {
    color: var(--color);
    
    text-decoration: none;
    
}
.custom-pagination li.selected {
    background: var(--main-color);
}

@media (max-width:767px) {
    .custom-pagination li {
        padding: 10px ;
      width: 30px;
      height: 30px;
    }
    
}